{% extends "characters/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
       <div class="col-8 blockcenter">
        {% if character %}
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{{character.thumbnail}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            <li>{{character.characterId}}</li>
                            <li>{{character.name }}</li>
                            <li>
                                comics
                                <ul>
                                    {% for comic in character.comics %}
                                         <li><a href="{% url 'marvel:detail' comic.id  %}">{{comic.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            {% else %}
                <p>No character found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}